<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.tender.lunched.title}">New call for tenders launched</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.tender.lunched.title}">
            Dear
        </p>
        <p th:text="#{email.tender.lunched.text}">
            You have a new tender, please click on the URL below to access it:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/${tenderLink}|})" th:href="${url}"
            th:text="${url}">Access link</a>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">JHipster.</em>
        </p>
    </body>
</html>
